<main class="pt-5 mt-5">
    <div class="container">
        <h1>Nouveautés</h1>
        <div class="row">
            {% for book in books|slice(0, 3) %}
            <div class="col-md p-2" onclick="openModal('{{ book.id }}')">
                <div class="card bg-dark">
                    <img class="card-img-top" src="ftp/cover/{{ book.cover }}">
                    <div class="card-body">
                        <h3>{{ book.title }}</h3>
                        <p>{{ book.author.surname }} {{ book.author.name }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

<div class="modal fade" id="modal-book-viewer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-light btn-lg" onclick="openModal()"><i
                        class="fas fa-times-circle"></i></button>
            </div>
            <div class="modal-body">
                <div class="row h-100">
                    <div class="col-md">
                        <div class="w-100 h-100" id="modal-book-content-cover"></div>
                    </div>
                    <div class="col-md">
                        <h1 id="modal-book-content-title"></h1>
                        <h5 id="modal-book-content-author"></h5>
                        <p class="pt-3" id="modal-book-content-synopsis"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>